# node_modules
node_modules
*node_modules
node_modules/

# yarn
yarn.lock
*yarn.lock

# dist
dist/
*dist
dist

# Example
/example-webpack/package-lock.json
/example-webpack/node_modules/
/example-webpack/yarn.lock

/example-vite/package-lock.json
/example-vite/node_modules/
/example-vite/yarn.lock


# Pakcage
/package/package-lock.json
/pakcage/node_modules/
/package/yarn.lock
/package/lib/

# Server
/package/package-lock.json
/pakcage/node_modules/
/package/yarn.lock

node_modules
