# Example
/example/package-lock.json
/example/node_modules/
/example/yarn.lock


# Pakcage
/package/package-lock.json
/pakcage/node_modules/
/package/yarn.lock
/package/lib/

# Server
/package/package-lock.json
/pakcage/node_modules/
/package/yarn.lock

node_modules
