/* DefaultButton styles */
.vms-editor__default-button {
  background-color: #f1f1f1;
  position: relative;
  display: inline-block;
  height: 100%;
  font-size: 14px;
  transition: all 0.3s ease;
  border-radius: 0;
  width: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.vms-editor__default-button.is-active {
  box-shadow: inset 0 0 4px;
}

.vms-editor__default-button:active {
  transform: scale(0.9);
}

/* ColorButton styles */
.vms-editor__color-button {
  width: 2%;
  height: 2%;
  border-radius: 0;
  border: 1px solid #eaeaea;
}

.vms-editor__color-button.color-none {
  background-image: linear-gradient(to top left, transparent 49%, red 50%, red 51%, transparent 52%);
}

.vms-editor__color-button.is-active {
  box-shadow: inset 0 0 4px;
}

.vms-editor__color-button:active {
  transform: scale(0.9);
}

/* BorderButton styles */
.vms-editor__border-button {
  background-color: white;
  width: 2%;
  height: 2%;
  border-radius: 0;
  border-width: 0.5px;
  border-style: solid;
  border-color: #000;
}

.vms-editor__border-button.no-border {
  border: none;
  background-image: linear-gradient(to top left, transparent 49%, red 50%, red 51%, transparent 52%);
}

.vms-editor__border-button.is-active {
  box-shadow: inset 0 0 4px;
}

.vms-editor__border-button:active {
  transform: scale(0.9);
}

/* TransitionButton styles */
.vms-editor__transition-button {
  outline: none;
  padding: 4px;
  background-color: transparent;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.vms-editor__transition-button.is-active {
  transform: rotate(180deg);
}

.vms-editor__transition-button:focus {
  outline: none;
}
