/* 정렬 아이콘 */
.vms-editor__left-sort-icon,
.vms-editor__right-sort-icon,
.vms-editor__center-sort-icon,
.vms-editor__bottom-sort-icon,
.vms-editor__top-sort-icon,
.vms-editor__both-side-icon,
.vms-editor__text-icon,
.vms-editor__image-icon,
.vms-editor__video-icon,
.vms-editor__rect-icon,
.vms-editor__tri-icon,
.vms-editor__circle-icon,
.vms-editor__bold-icon,
.vms-editor__underline-icon,
.vms-editor__down-tri-arrow,
.vms-editor__hamburger-icon {
  pointer-events: none;
}

/* 각각의 아이콘 클래스를 위해 SVG 사용 */
.vms-editor__left-sort-icon {
  content: url("path/to/fa-align-left.svg");
}

.vms-editor__right-sort-icon {
  content: url("path/to/fa-align-right.svg");
}

.vms-editor__center-sort-icon {
  content: url("path/to/fa-align-center.svg");
}

.vms-editor__bottom-sort-icon {
  content: url("path/to/bi-solid-arrow-to-bottom.svg");
}

.vms-editor__top-sort-icon {
  content: url("path/to/bi-solid-arrow-from-bottom.svg");
}

.vms-editor__both-side-icon {
  content: url("path/to/fa-align-justify.svg");
}

.vms-editor__text-icon {
  content: url("path/to/io-text.svg");
}

.vms-editor__image-icon {
  content: url("path/to/fa-reg-file-image.svg");
}

.vms-editor__video-icon {
  content: url("path/to/fa-file-video.svg");
}

.vms-editor__rect-icon {
  content: url("path/to/md-rectangle.svg");
}

.vms-editor__tri-icon {
  content: url("path/to/io-triangle-sharp.svg");
}

.vms-editor__circle-icon {
  content: url("path/to/fa-reg-circle.svg");
}

.vms-editor__bold-icon {
  content: url("path/to/fa-bold.svg");
}

.vms-editor__underline-icon {
  content: url("path/to/fa-underline.svg");
}

.vms-editor__down-tri-arrow {
  content: url("path/to/io-md-arrow-dropdown.svg");
}

.vms-editor__hamburger-icon {
  content: url("path/to/gi-hamburger-menu.svg");
}
