/* DefaultSpan styles */
.vms-editor__default-span {
  font-weight: 700;
}

/* LabelSpan styles */
.vms-editor__label-span {
  font-weight: 700;
}

/* ButtonSpan styles */
.vms-editor__button-span {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.vms-editor__button-span[data-gap] {
  gap: attr(data-gap px);
}
